<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>MAPP3D</title>

	<!-- the weird initial scale is to force ios to give a real device width without having to resort to a js timeout -->
	<meta name="viewport" content="initial-scale=1.0001, minimum-scale=1.0001, maximum-scale=1.0001, user-scalable=no"/>
	<link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
	<link rel="stylesheet" href="css/main.css">

</head>
<body>

<div class="container">
	<div class="title-block">
		<h1 id="main-title">MAPP3D</h1>
		<p class="tag-line">Beautiful 3D tiles of the city you love</p>
	</div>

	<!-- .tile-grid>(a.tile[href="/tiles/tile$"]${tile $})*32 -->
	<div class="tile-grid">
		<div class="tile" data-tile="tile1"><span class="title">1</span></div>
		<div class="tile" data-tile="tile2"><span class="title">2</span></div>
		<div class="tile" data-tile="tile3"><span class="title">3</span></div>
		<div class="tile" data-tile="tile4"><span class="title">4</span></div>
		<div class="tile" data-tile="tile5"><span class="title">5</span></div>
		<div class="tile" data-tile="tile6"><span class="title">6</span></div>
		<div class="tile" data-tile="tile7"><span class="title">7</span></div>
		<div class="tile" data-tile="tile8"><span class="title">8</span></div>
		<div class="tile" data-tile="tile9"><span class="title">9</span></div>
		<div class="tile" data-tile="tile10"><span class="title">10</span></div>
		<div class="tile" data-tile="tile11"><span class="title">11</span></div>
		<div class="tile" data-tile="tile12"><span class="title">12</span></div>
		<div class="tile" data-tile="tile13"><span class="title">13</span></div>
		<div class="tile" data-tile="tile14"><span class="title">14</span></div>
		<div class="tile" data-tile="tile15"><span class="title">15</span></div>
		<div class="tile" data-tile="tile16"><span class="title">16</span></div>
		<div class="tile" data-tile="tile17"><span class="title">17</span></div>
		<div class="tile" data-tile="tile18"><span class="title">18</span></div>
		<div class="tile" data-tile="tile19"><span class="title">19</span></div>
		<div class="tile" data-tile="tile20"><span class="title">20</span></div>
		<div class="tile" data-tile="tile21"><span class="title">21</span></div>
		<div class="tile" data-tile="tile22"><span class="title">22</span></div>
		<div class="tile" data-tile="tile23"><span class="title">23</span></div>
		<div class="tile" data-tile="tile24"><span class="title">24</span></div>
		<div class="tile" data-tile="tile25"><span class="title">25</span></div>
		<div class="tile" data-tile="tile26"><span class="title">26</span></div>
		<div class="tile" data-tile="tile27"><span class="title">27</span></div>
		<div class="tile" data-tile="tile28"><span class="title">28</span></div>
		<div class="tile" data-tile="tile29"><span class="title">29</span></div>
		<div class="tile" data-tile="tile30"><span class="title">30</span></div>
		<div class="tile" data-tile="tile31"><span class="title">31</span></div>
		<div class="tile" data-tile="tile32"><span class="title">32</span></div>
	</div>
	

</div>
	
</body>
</html>